/* Set background color */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app-name{
    color:#ffffff;
    font-size: 28px;
    margin-top: 2%;
}

.greyish-background
{
    background: #a9e4e1;
    margin-left: 0%;
    position: relative;

}

.logo{
    position: relative;
    height: 100%;
    width: 100%;
}

.heading{
    position: relative;
    padding-top: 10px;
}

.account{
    position: relative;
    text-align: right;
    font-size: 22px;
    color: #ffffff;
}

body {
    background-color: #f2f2f2;
    overflow-y: scroll;
    background-image: url(../images/black-bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

h2{
  color:white;
}

.transfer-container {
    border: 1px solid #ccc;
    padding: 20px;
    width:max-content;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #ffffff;
    box-shadow: 0 20px 35px rgba(231, 231, 231, 0.1);
}

.transfer-container label {
    display: block;
    margin-bottom: 10px;
}

.transfer-container input[type="text"] {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

.transfer-container button[type="submit"] {
    background-color: #3e8e41;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.transfer-container button[type="submit"]:hover {
    background-color: #45a049;
}

  /* Center form in the middle of the page */
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }

  /* Style labels */
  label {
    display: inline-block;
    margin-bottom: 5px;
    color: #333;
    font-weight: bold;
  }

  /* Style text input fields */
  input[type="text"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  }

  /* Style submit button */
  button[type="submit"],
  button[type="button"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    background-color: #3e8e41;
    color: white;
    cursor: pointer;
  }

  button[type="submit"]:hover,
  button[type="button"]:hover {
    background-color: #3e8e41;
  }

  /* Style page title */
  h1 {
    text-align: center;
    color: #333;
    margin-top: 50px;
  }

  /* Style buttons in a row */
  button {
    display: inline-block;
    margin-right: 10px;
  }

/* toastr success notification */
.my-toast {
  font-size: 20px;
}

.login{
 margin-top: 10%;
}